
.container{
    width: 50%;
    padding-left: 230px;
}
h4{
    font-family: Helvetica, sans-serif;    
    font-size: 28px;
    font-weight: lighter;
    color: #09142f;
    margin-bottom: 15px;
}

p {
    color: #0a0a0a
}

sec{
    font-family: Helvetica, sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #09142f;
}

button{
    color: white;
    width: 250px;
    background-color: #00bfff;
    font-size: 22px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px; 
    margin-top: 30px;   
}